@font-face  {
	font-family: 'systemia';
	src: url(resources/systemia.otf);
}

body {
	background-color: #172D16;
}

.container {
  text-align: center;
  position: relative;
}

.image {
  display: block;
  width: 100%;
  max-width: 550px;
  height: auto;
  margin: 0 auto;
  padding-top: 90px;
}

.logo-container {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 315px;
  height: 370px;
  position: relative;
  z-index: 1;
}

.links {
  margin-top: 10px;
  margin-left: auto;
}

.links a {
  font-family: 'systemia', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #3E4B25;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
}