@font-face  {
  font-family: 'necto-mono';
  src: url(./necto_mono.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

header {
  text-align: left;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.logo {
  width: 250px;
  height: auto;
  margin-right: 30px;
  z-index: 1;
}

.links {
  position: absolute;
  top: calc(37%);
  left: 0;
  margin-left: calc(8% + 10px);
  z-index: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  font-family: 'necto-mono', monospace, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.main-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
